%html lang="ja"
  %head
    %meta charset="utf-8"
    %meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no minimal-ui"
    %meta name="apple-mobile-web-app-capable"  content="yes"
    %meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"
    %link type="text/css" rel="stylesheet" href="/static/css/index.css"
    %link rel="shortcut icon" href="/static/assets/favicon.png"
    %link rel="apple-touch-icon" href="/static/assets/favicon.png"
    %script src="/static/js/jquery-3.3.1.min.js" 
    %script src="/static/js/index.js" 
    %title=title
  %body style= "background-image: url(/static/assets/wallpaper.jpg);" 
    %nav#header
      %img src="/static/assets/header.png"
    %table#main
      %tr
        %td
          %table#stamps_1
            {% for y in range(5): %}
            %tr
              %td
                %div id="stamp{{y + 5 * 0}}"
            {% endfor %}
        %td
          %table#stamps_2
            {% for y in range(5): %}
            %tr
              %td
                %div id="stamp{{y + 5 * 1}}"
            {% endfor %}
        %td
          %table#cells
            {% for y in range(32): %}
              %tr
              {% for x in range(16): %}
                  %td
                    %div class='cell'  id="cell_{{x}}_{{y}}"
              {% endfor %}
            {% endfor %}
        %td
          %div class='pen' id="pen_thin"
          %table#pallets_1
            {% for y in range(6): %}
            %tr
              %td
                %div id="pallet{{y + 6 * 0}}"
            {% endfor %}
        %td
          %div class='pen' id="pen_bold"
          %table#pallets_2
            {% for y in range(6): %}
            %tr
              %td
                %div id="pallet{{y + 6 * 1}}"
            {% endfor %}
    %table#effects
      %tr
      {% for x in range(5): %}
        %td
          %div id="effect{{x}}"
      {% endfor %}
